* {
    box-sizing: border-box;
}

:root {
    --primary-color: #000000;
    --secondary-color: #D9D9D9;
    --font-family: 'Jaini', system-ui, sans-serif;
}

body {
    font-family: var(--font-family), sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0;
    text-align: center;
    font-size: 50px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .hamburger {
    display: none;
    width: 40px;
    cursor: pointer;
}

header nav h1 {
    margin: 0;
    padding: 0;
}

header nav img {
    width: 170px;
}


header nav ul {
    list-style: none;
    display: flex;
    gap: 60px;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
}

/* 
 * Home Page Sections
*/

/* .quiz-container {
    display: none;
} */

section.main-section {
    margin-top: 50px;
    text-align: center;
}

section.main-section h1 {
    font-size: 100px;
}

#start-quiz {
    width: 490px;
    max-width: 90%;
    height: 70px;
    font-size: 30px;
    font-family: var(--font-family);
    margin-top: 50px;
    margin-bottom: 50px;
}

/*
 * About Us Page 
 */

.about-hero-section {
    color: var(--primary-color);
    padding: 100px 0;
    text-align: center;
    font-size: 30px;
}

.about-hero-section .about-hero-content h1{
    background-color: var(--secondary-color);
    font-size: 50px;
    display: inline-block;
    padding: 0px 100px;
}

.about-hero-section .image-info {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    justify-content: center;
    max-width: 60%;
}

.about-hero-section .image-info {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    justify-content: center;
    max-width: 60%;
}

.about-hero-section .image-info .image{
   flex-basis: 60%;
   width: 50%;
}

.about-hero-section .image-info .content{
   width: 50%;
   text-align: left;
   align-items: center;
}

.our-features-section {
    color: var(--primary-color);
    
    text-align: center;
    font-size: 30px;
}

.our-features-section .features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15%;
    margin-top: 50px;
}

.our-features-section .features .feature {
    flex-basis: 33.33%;
    padding: 80px 30px;
    background-color: var(--secondary-color);
    border-radius: 25px;
}

/**
* Contact Page 
*/

.contact-hero-section {
    padding-bottom: 0;
}

.message-us-section {
    padding: 100px 0;
    text-align: center;
    font-size: 30px;
    color: var(--primary-color);
}

.message-us-section .contact-form-container {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.message-us-section .contact-form-container .map {
    flex-basis: 50%;
    height: 80vh;
}

.message-us-section .contact-form-container .contact-form {
    flex-basis: 50%;
    text-align: left;
    background-color: rgba(217, 217, 217, 0.25);
    padding: 30px;
    border-radius: 15px;
}

.message-us-section .contact-form-container .contact-form .form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.message-us-section .contact-form-container .contact-form .form-group input,
.message-us-section .contact-form-container .contact-form .form-group textarea{
    background-color: var(--secondary-color);
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    font-family: var(--font-family);
    font-size: 20px ;
}

.message-us-section .contact-form-container .contact-form button{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    width: 100%;
    align-self: center;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
}

.message-us-section .contact-form-container .contact-form .form-group input::placeholder,
.message-us-section .contact-form-container .contact-form button,
.message-us-section .contact-form-container .contact-form .form-group textarea::placeholder{
    font-family: var(--font-family);
    font-size: 20px;
}


@media screen and (max-width: 1024px) {
     header nav .hamburger {
        display: block;
        width: 40px;
        cursor: pointer;
    }

    header nav ul {
        display: none;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 117px;
        width: 100%;
        left: 0;
        background-color: var(--secondary-color);
    }

    header nav .nav-links.open {
        display: block;
    }
}

@media screen and (max-width: 768px) {

    h1 {
        font-size: 40px;
    }
    h3 {
        font-size: 20px;
    }
    .about-hero-section .about-hero-content h1 {
        font-size: 30px;
        padding: 0px 50px;
    }
    .about-hero-section .image-info,
    .our-features-section .features {
        flex-direction: column;
        gap: 30px;
    }
    .about-hero-section .image-info .image {
        width: 100%;
    }
    .about-hero-section .image-info .content {
        width: 100%;
        text-align: center;
    }
    .our-features-section .features .feature {
        width: 80%;
    }

    .message-us-section .contact-form-container {
        flex-direction: column;
        gap: 30px;
    }
}

@media screen and (max-width: 440px) {

    section.main-section h1 {
        font-size: 50px;
    }

    #start-quiz {
        font-size: 20px;
    }

    .our-features-section .features .feature {
        width: 100%;
        padding: 50px 20px;
    }
}